/* You can add global styles to this file, and also import other style files */


.header{
	background-color: #eee;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
}

.bodyContent{
	margin: 20px 0 0;
}

.table-responsible {
    margin: 20px 0 0;
    border: 1px solid #ddd;
}

.flexBox{
	display: flex;
	max-width: 100%;
}

.flexBox.flex-spaceBetween {
    place-content: center space-between;
    align-items: center;
}
